DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT_REF.supabase.co:5432/postgres

FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173

# Stripe test mode values
STRIPE_SECRET_KEY=sk_test_51U9gAWFLfDYV7UnzJLELBRdPxM5d3Smr0jC6t3U5rtjzyjHC4BoMot7a1BLLyhv41eeTMZPupOqaYvzftSzKriZP00Wd0G3RDQ
STRIPE_WEBHOOK_SECRET=whsec_qtOiBfcOxBaNT0h6I75Y0PX1zOgjrXrJ
